<div class="container-fluid mt-3">
  <h1>{{ page_title }}</h1>
  <hr />

  <form
    class="col-md-5 ml-0 pl-0"
    #registerForm="ngForm"
    (ngSugmit)="onSubmit(registerForm)"
  >
    <div class="form-group">
      <label for="name">Nombre</label>
      <input
        type="text"
        name="name"
        #name="ngModel"
        [(ngModel)]="user.name"
        class="form-control mb-1"
        required
        pattern="[a-zA-Z]"
      />
      @if(!name.valid && name.touched){
      <small class="invalid-feedback d-block"> El nombre no es válido </small>
      }
    </div>
  </form>
</div>
